#wrapper {
    width: 100%;
    display: flex;
    margin-top: 100px;
    min-height: 60vw;
}

#preview {
    width: 60vw;
    position: absolute;
    right: 20px;
}

#previewReverse {
    width: 60vw;
    position: absolute;
    left: 20px;
}

#content {
    width: 30vw;
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    z-index: 10;

    position: absolute;
    left: 0;
    padding-top: 10vw;
    padding-left: 8vw;
}

#contentReverse {
    width: 30vw;
    display: flex;
    flex-direction: column;

    align-items: flex-end;
    z-index: 10;

    position: absolute;
    right: 0;
    padding-top: 12vw;
    padding-right: 8vw;

}

#right {
    z-index: 10;
    padding-top: 150px;
}

#titleBlob {
    position: absolute;
    left: 0;
    width: 60vw;
    /* height: 90vh; */
    z-index: -1;
}

#titleBlobReverse {
    position: absolute;
    right: -5px;
    width: 60vw;
    /* height: 90vh; */
    z-index: -1;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

#wrapper h1 {
    font-size: 3vw;
    color: white;
}

#wrapper h3 {
    font-size: 1.25vw;
    color: white;
    margin-top: 10px;
    text-align: left;
}

#contentReverse h3 {
    font-size: 1.25vw;
    color: white;
    margin-top: 10px;
    text-align: right;
}

#wrapper button {
    width: 150px;
    height: 40px;
    background-color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    color: #fa4903;
    margin-top: 5vw;
}

#wrapper button:hover {
    cursor: pointer;
    border: solid 2px white;
    color: white;
    background-color: #f75718;
}